{% from "consul/lib.sls" import consul_service_domain %}
{% set environment = salt.grains.get('environment') %}
{% set mysql_password = salt.pillar.get('secrets:lagotto:mysql:password') %}
{% set mysql_host = consul_service_domain("alm-manager-sql", style='soma') %}
{% set couch_host = consul_service_domain("alm-manager-nosql", style="soma") %}
{% set redis_host = consul_service_domain("alm-manager-redis", style="soma") %}

{% set props = salt['grains.filter_by'](
{
  'default':{
    'admin_email': 'lagotto-qa@plos.org',
    'api_key': salt.pillar.get('secrets:lagotto:rails-api-key'),
    'app_port': 9292,
    'app_root': '/var/www/lagotto',
    'application': "lagotto",
    'bugsnag_hostname': salt.grains.get('fqdn'),
    'bugsnag_release_stage': environment,
    'cas_prefix': '/cas',
    'cas_url': 'https://nedcas-dev.plos.org',
    'cited': 'scopus',
    'concurrency': '25',
    'couch_db_url': "http://{}:5984".format(couch_host),
    'creator': "Public Library of Science",
    'database_url': "mysql2://{}:{}@{}:{}/{}?pool=5&timeout=5000&encoding=utf8mb4".format("alm", mysql_password, mysql_host, 3306, "alm"),
    'docker_image_name': "lagotto",
    'docker_image_tag': "latest",
    'github_url': "git://github.com/PLOS/lagotto",
    'import': '',
    'log_level': 'debug',
    'mail_address': 'localhost',
    'mail_domain': 'localhost',
    'mail_port': '25',
    'memcache_servers': consul_service_domain("alm-manager-memcache", style="soma"),
    'omniauth': 'cas',
    'puma_threads': '16',
    'puma_workers': '3',
    'rails_env': 'production',
    'redis_url': "redis://{}:6379/12".format(redis_host),
    'secret_key_base': salt.pillar.get('secrets:lagotto:rails-secret'),
    'sitename': 'ALM',
    'sitenamelong': 'PLOS ALM',
    'skip_ember': 1,
    'solr_url': 'http://solr-mega-dev.soma.plos.org/solr/journals_dev/select',
    'sysctl_ip_local_port_range': "10000 65000",
    'sysctl_tcp_tw_recycle': '1',
    'sysctl_tcp_tw_reuse': '1',
    'version_nodejs': '0.12.11-1nodesource1~trusty1',
    'version_ruby': '2.2.2',
  },
  'vagrant': {
    'docker_image_tag': "dev",
    'sitename': 'ALM (Vagrant)',
  },
  'dev': {
    'docker_image_tag': "dev",
    'log_level': 'debug',
    'sitename': 'ALM (DEV)',
  },
  'stage': {
    'cas_url': 'https://nedcas-stage.plos.org',
    'database_url': "mysql2://{}:{}@{}:{}/{}?pool=5&timeout=5000&encoding=utf8mb4".format("alm", mysql_password, mysql_host, 3306, "alm"),
    'docker_image_tag': "stage",
    'import': 'plos',
    'log_level': 'warn',
    'mysql_name': 'alm',
    'mysql_username': 'alm',
    'sitename': 'ALM (STAGE)',
  },
  'prod': {
    'admin_email': 'alm@plos.org',
    'bugsnag_js_key': '8ee87325d4e0c9f462212b56f994ada4',
    'bugsnag_key': 'd3504e878cdd6180e2af11eeb746041f',
    'cas_url': 'https://register.plos.org',
    'concurrency': '40',
    'database_url': "mysql2://{}:{}@{}:{}/{}?pool=5&timeout=5000&encoding=utf8mb4".format("alm", mysql_password, mysql_host, 3306, "alm"),
    'docker_image_tag': "prod",
    'import': 'plos',
    'log_level': 'warn',
    'mail_address': 'plos-org.mail.protection.outlook.com',
    'mail_domain': 'alm.plos.org',
    'solr_url': 'http://solr-mega-prod.soma.plos.org/solr/journals_prod/select',
  }
}
, grain='environment', base='default') %}
