{% from "consul/lib.sls" import consul_service_domain %}
{% set mysql_password = salt.pillar.get('secrets:lagotto:mysql:password') %}

{% set props = salt['grains.filter_by'](
{
  'default':{

    'app_name': "lagotto",
    'app_port': 9292,
    'github_url': "git://github.com/PLOS/lagotto",
    'report_creator': "Public Library of Science",
    'app_root': '/var/www/lagotto',
    'deploy_stage': "production",
    'deploy_user': "lagotto",
    'deploy_group': "lagotto",
    'version_ruby': '2.2.2',
    'version_nodejs': '0.12.11-1nodesource1~trusty1',
    'sysctl_ip_local_port_range': "10000 65000",
    'sysctl_tcp_tw_recycle': '1',
    'sysctl_tcp_tw_reuse': '1',

    'memcache_server': consul_service_domain("alm-manager-memcache", style="soma"),
    'database_url': "mysql2://{}:{}@{}:{}/{}?pool=5&timeout=5000&encoding=utf8mb4".format("lagotto", mysql_password, consul_service_domain("alm-manager-sql", style='soma'), 3306, "lagotto"),
    'redis_server': consul_service_domain("alm-manager-redis", style="soma"),

    'log_level': 'debug',
    'rails_env': 'development',
    'import_source': '',
    'cited_source': 'scopus',
    'solr_url': 'http://solr-mega-dev.soma.plos.org/solr/journals_dev/select',

    'auth_provider': 'cas',
    'auth_url': 'https://nedcas-dev.plos.org',
    'auth_prefix': '/cas',

    'site_short_name': 'ALM',
    'site_long_name': 'PLOS ALM',

    'email_address': 'localhost',
    'email_port': '25',
    'email_domain': 'localhost',
    'email_admin': 'lagotto-qa@plos.org',

    'sidekiq_concurrency': '25',

    'puma_threads': '16',
    'puma_workers': '3',
    'docker_image_name': "lagotto",
    'docker_image_tag': "latest"
  },
  'vagrant': {
    'site_short_name': 'ALM (Vagrant)',
    'docker_image_tag': "ALM-1045-dockerize"
  },
  'dev': {
    'log_level': 'debug',
    'site_short_name': 'ALM (DEV)',
    'docker_image_tag': "develop"
  },
  'stage': {
    'log_level': 'warn',
    'rails_env': 'production',
    'import_source': 'plos',
    'site_short_name': 'ALM (STAGE)',
    'mysql_name': 'alm',
    'mysql_username': 'alm',
    'auth_url': 'https://nedcas-stage.plos.org',
    'docker_image_tag': "stage"
  },
  'prod': {
    'log_level': 'warn',
    'rails_env': 'production',
    'import_source': 'plos',
    'solr_url': 'http://solr-mega-prod.soma.plos.org/solr/journals_prod/select',
    'mysql_name': 'alm',
    'mysql_username': 'alm',
    'auth_url': 'https://register.plos.org',
    'email_address': 'plos-org.mail.protection.outlook.com',
    'email_domain': 'alm.plos.org',
    'email_admin': 'alm@plos.org',
    'sidekiq_concurrency': '40',
    'bugsnag_key': 'd3504e878cdd6180e2af11eeb746041f',
    'bugsnag_js_key': '8ee87325d4e0c9f462212b56f994ada4',
    'docker_image_tag': "master"
  }
}
, grain='environment', base='default') %}
