{% from "lagotto/map.jinja" import props with context -%}
{% set alm_root = props.get('app_root') -%}
[Unit]
Description=Lagotto
Requires=network.target

[Service]
Type=simple
Environment="HOME=/home/lagotto"
Environment="ALM_ROOT={{ alm_root }}"
User=lagotto
Group=lagotto
ConditionPathIsDirectory={{ alm_root }}/current
WorkingDirectory={{ alm_root }}/current
ExecStart=/bin/bash -lc 'chruby-exec 2.2.2 -- bundle exec puma -i 0 -C $ALM_ROOT/shared/puma.rb'

[Install]
WantedBy=multi-user.target
