{% from "lagotto/map.jinja" import props with context -%}
{% set alm_root = props.get('app_root') -%}
{% set rails_env = props.get('rails_env') -%}
{% set version_ruby = props.get('version_ruby') -%}
[Unit]
Description=Lagotto sidekiq
Requires=network.target

[Service]
Type=simple
Environment="HOME=/home/lagotto"
Environment="ALM_ROOT={{ alm_root }}"
User=lagotto
Group=lagotto
ConditionPathIsDirectory={{ alm_root }}/current
WorkingDirectory={{ alm_root }}/current
ExecStart=/bin/bash -lc 'chruby-exec {{ version_ruby }} -- bundle exec sidekiq -e {{ rails_env }}'

[Install]
WantedBy=multi-user.target
